<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <link href="assets/css/styles.css" rel="stylesheet" type="text/css"/>
        <link href="assets/js/script.js" rel="javascript" type="text/javascript"/>

        <title>NavMenu</title>
    </head>

    <body>
        <!-- Hamburger Menu -->
        <div class="topnav">
            <div class="logo">
                <a href="">
                    <img src="assets/img/logo.png"/>
                </a>
            </div>
            <a class="active" href="#home"></a>
            <!-- Navigation links (hidden by default) -->
            <div id="myLinks">
                <a href="#news">News</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a>
            </div>
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <a class="menu" href="#menu" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </body>
    <link href="footer.html" rel="html" type="text/html"/>
</html>
